.logo {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../../images/sunny.png');
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  display: inline;
  width: 300px;
}

.button {
  width: 150px;
  margin-top: 15px;
}

.textPass{
  font-size: 14px;
  margin-bottom: 5px;
}
